.oneActivityBox{
    position: relative;
    top: 15px;
    margin-left: 25px;
    background-color: #282c34;
    height: 100px;
    width: 350px;
    font-family: "YanoneKaffeesatz-Regular";
    margin-bottom: 15px;
}

.activityPic{
    object-fit: cover;
    margin-right: 10px;
    position: relative;
    right: 135px;
}

.activityPic:hover{
    opacity: .2;
}

.activityLogin{
    position: relative;
    top: -70px;
    text-align: left;
    left: 70px;
    font-size: 18px;
    color: white;
}
.activityText{
    position: relative;
    top: -80px;
    text-align: left;
    left: 70px;
    font-size: 18px;
    color: white;
}

.activityDate{
    font-size: 16px;
    position: relative;
    top:-90px;
    text-align: left;
    left: 10px;
    color: white;
}

.clearBtn{
    position: relative;
    top: -210px;
    left: 155px;

}

