.d-inline-block align-top {
    border-radius: 50%;
}

.myProfPic {
    border: 3px solid black;
}

.imgSettings {
    padding: 15px 200px;
    margin: 35px 0px 7px 7px;
    width: 300px;

}
.loginInAnPr{
    width: 300px;
    position: relative;
    right: 80px;
    text-align: center;
    font-family: "YanoneKaffeesatz-Regular";
}

.lostBtnAn {
    position: relative;
    left: 210px;
}

.searchedBtnAn {
    position: relative;
    left: 210px;
}

.mailBtn{
    position: relative;
    left: 210px;
}

#posts {
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}

#search {
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}

.textAreaAnother{
    position: relative;
    top: -40px;
}

.catPawPic{
    position: relative;
    top: -255px;
    left: 245px;
}
.catPawPic:hover{
    opacity: 0.2;
}

.likesCounter{
    height: 30px;
    width: 40px;
    position: relative;
    top: -305px;
    left: 272px;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}

