.d-inline-block align-top {
    border-radius: 50%;
}

.myProfPic {
    border: 3px solid black;
}

.imgSettings {
    padding: 15px 200px;
    margin: 35px 0px 7px 7px;
    width: 300px;

}
.loginInAnPr{
    width: 300px;
    position: relative;
    right: 80px;
    text-align: center;
    font-family: "YanoneKaffeesatz-Regular";
}

.lostBtnAn {
    position: relative;
    left: 210px;
}

.searchedBtnAn {
    position: relative;
    left: 210px;
}

.mailBtn{
    position: relative;
    left: 210px;
}

#posts {
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}

#search {
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}

#comments{
    display: block;
    font-family: "YanoneKaffeesatz-Regular";
}

#commentName{
    display: block;
    font-family: "YanoneKaffeesatz-Regular";
}

.textAreaAnother{
    position: relative;
    top: -40px;
}

.catPawPic{
    position: relative;
    top: -267px;
    left: 245px;
}
.catPawPic:hover{
    opacity: 0.2;
}

.likesCounterOneDigit{
    height: 30px;
    width: 40px;
    position: relative;
    top: -315px;
    left: 276px;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}

.likesAmountTwoDigit{
    height: 30px;
    width: 40px;
    position: relative;
    top: -315px;
    left: 272px;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}

.likesCounterThreeDigit{
    height: 30px;
    width: 40px;
    position: relative;
    top: -315px;
    left: 269px;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}

.activityStackAnother{
    position: relative;
    left: 200px;
    top: -7px;
}

.activityNumbersAnother{
    position: relative;
    right: 55px;
    top: 49px;
}

.numbersCommentAnotherOneDigit{
    position: relative;
    right: 3px;
}

.numbersCommentAnotherTwoDigit{
    position: relative;
    right: 5px;
}

.numbersCommentAnotherThreeDigit{
    position: relative;
    right: 10px;
}

.numbersLikeAnotherOneDigit{
    position: relative;
    left: 43px;
}

.numbersLikeAnotherTwoDigit{
    position: relative;
    left: 31px;
}

.numbersLikeAnotherThreeDigit{
    position: relative;
    left: 18px;
}
.numbersPostAnotherOneDigit{
    position: relative;
    left: 92px;
}

.numbersPostAnotherTwoDigit{
    position: relative;
    left: 70px;
}

.numbersPostAnotherThreeDigit{
    position: relative;
    left: 48px;
}



