.startBtn {
    padding: 50px 80px;
}

.textBoxs {
    padding: 0px 90px;
}

.tryAgainBtn{
    position: relative;
    left: 65px;
    top: 35px;
}

.keepSignIn{
    position: relative;
    top: -25px;
    right: 45px;
    width: 200px;
}

.btnForSignIn{
    position: relative;
    width: 200px;
    right: 60px;
    top: -25px;
}


