.description {

    font-family: "YanoneKaffeesatz-Regular";
    font-size: 20px;
}



.profImg:hover{
    opacity: .2;
}

.myPostPic{
    border: 1px solid black;
    position: relative;

}

.myPostPic:hover{
    opacity: .2;
}


.loginWithPic{
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 26px;
    position: relative;
    top: 5px;
}

.onePostInPostRender{
    height: 400px;
    width: 800px;
    margin: 150px auto 150px;
}

.loginAndPicBox{
    width: 230px;
    margin-left: 48px;
    margin-right: auto;
    margin-bottom: 10px;
}

.address {
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
    margin-bottom: 10px;
}

.imgBtn {
    position: relative;
    left: 100px;
    top: 250px;
}

.publicBtn {
    position: relative;
    left: 125px;
    top: 250px;
}

.image {
    position: relative;
    right: 350px;
    top: 137px;
}

.onePost{
    height: 300px;
    width: 800px;
    margin: auto auto 150px;
}

.textArea {
    font-family: "YanoneKaffeesatz-Regular";
    width: 400px;
    height: 227px;
    margin-left: auto;
    margin-right: 0;

}


.img {
    position: relative;
    left: 950px;
    top: -150px;
}

.imgCont{
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
}

.title{
    position: relative;
    top: 100px;
    font-family: "YanoneKaffeesatz-Regular";
}
.messageBtn{
    position: relative;
    left: 150px;
    top: 200px;
}
.date {
    position: relative;
    top:-70px;
    left: 662px;
    font-style: inherit;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}

.checkBox{
    position: relative;
    left: 805px;
    top: 150px;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}

.imageCreatePost{
    position: relative;
    right: 285px;
    top: 108px;
}

.imgBtnCreate{
    position: relative;
    left: 150px;
    top: 215px;
}

.publicBtnCreate{
    position: relative;
    left: 175px;
    top: 215px;
}

.checkBoxCreate{
    position: relative;
    left: 850px;
    top: 110px;
}










