.description {
    position: relative;
    left: 800px;
    top: 150px;
    font-family: "Regular";
}

.address {
    position: relative;
    left: 400px;
    top: 200px;
    font-family: "Regular";
}

.imgBtn {
    position: relative;
    left: 100px;
    top: 250px;
}

.publicBtn {
    position: relative;
    left: 125px;
    top: 250px;
}

.image {
    position: relative;
    right: 350px;
    top: 145px;
}

.textArea {
    position: relative;
    left: 80px;
    font-family: "Regular";
}

.img {
    position: relative;
    left: 850px;
    top: -150px;
}

.title{
    position: relative;
    top: 100px;
    font-family: "Regular";
}

.date {
    position: relative;
    left: 650px;
    font-style: inherit;
    font-family: "Regular";
}