.d-inline-block align-top {
    border-radius: 50%;
}

.myProfPic {
    border: 3px solid black;
}

.imgSettings {
    padding: 15px 200px;
    margin: 35px 0px 7px 7px;
    width: 300px;

}

.textArea {
    position: relative;
    left: 80px;
    font-family: "YanoneKaffeesatz-Regular";
}

.img {
    position: relative;
    left: 950px;
    top: -150px;
}

.login {
    width: 300px;
    position: relative;
    right: 80px;
    text-align: center;
    font-family: "YanoneKaffeesatz-Regular";
}

.date {
    position: relative;
    left: 650px;
    font-style: inherit;
    font-family: "YanoneKaffeesatz-Regular";
}

.btnChooseAvatar {
    padding: 0px 200px;
}

.postBtn {
    position: relative;
    right: 200px;
}

.searchedBtn {
    position: relative;
    right: 200px;
}

.delBtn{
    position: relative;
    left: 880px;
    top: -80px;
}

#posts {
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}

#search {
    position: relative;
    width:500px;
    height: auto;
    left: 700px;
    text-align: center;
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}





