.d-inline-block align-top {
    border-radius: 50%;
}

.myProfPic {
    border: 3px solid black;
}

.imgSettings {
    padding: 15px 200px;
    margin: 35px 0px 7px 7px;
    width: 300px;

}




.textArea {
    position: relative;
    left: 0px;
    font-family: "YanoneKaffeesatz-Regular";
}

.imgProfile {
    position: relative;
    left: 950px;
    top: -183px;
}

.login {
    width: 300px;
    position: relative;
    right: 80px;
    text-align: center;
    font-family: "YanoneKaffeesatz-Regular";
}

.dateProfile {
    position: relative;
    left: 660px;
    top: -100px;
    font-style: inherit;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}


.dateProf{
    position: relative;
    left: 665px;
    top: -25px;
    font-size: 18px;
    font-style: inherit;
    font-family: "YanoneKaffeesatz-Regular";
}
.userName{
    position: relative;
    left: 700px;
    font-style: inherit;
    font-size: 20px;
    top: -40px;
    font-family: "YanoneKaffeesatz-Regular";
}

.btnChooseAvatar {
    padding: 0px 200px;
}

.postBtn {
    position: relative;
    right: 200px;
}

.searchedBtn {
    position: relative;
    right: 200px;
}

.delBtn{
    position: relative;
    left: 850px;
    top: 175px;
}

.profileImg {
    position: relative;
    left: 0px;
    top: -30px;
}

.imgContSearched{
    position: relative;
    right: 350px;
    top:35px;
}

.dateSearched{
    position: relative;
    left: 660px;
    top: -100px;
    font-style: inherit;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}

.imgContSearchedMain{
    position: relative;
    right: 350px;
    top:40px;
}

.messageBtnSearched{
    position: relative;
    left: 850px;
    top: 170px;
}

.myPostPicSearched{
    border: 1px solid black;
    position: relative;
    left: 600px;
    top: 170px;
}
.myPostPicSearched:hover{
    opacity: .2;
}


#posts {
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}

#search {
    display: none;
    font-family: "YanoneKaffeesatz-Regular";
}

.myCatPawPic{
    position: relative;
    top: -267px;
    left: 245px;
}

.likesMyCounter{
    height: 30px;
    width: 40px;
    position: relative;
    top: -305px;
    left: 272px;
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
}


.commentBoxWrapper {
    height: 500px;
    width: 800px;
    left: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.commentBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.commentBoxBottom{
    position: relative;
    top: 50px;

}

.activity{
    position: relative;
    height: 500px;
    width: 800px;
    left: 1000px;
    top: -500px;
}

.myCommentPic{
    border: 1px solid black;
    position: relative;
    right: 362px;
}

.myCommentPic:hover{
    opacity: .2;
}

.commentInput{
    width: 80%;
    height: 90px;
    padding: 10px;
    position: relative;
    right: 45px;
}

.sendCommentButton{
    position: relative;
    top: -40px;
    left: 10px;
}

.commentText{
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 18px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    position: relative;
    text-align: left;
}

.commentatorLogin{
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 20px;
    position: relative;

}

.commentatorLoginBox{
    height: 25px;
    width: 10px;
    position: relative;
    top: -35px;
    left: 60px;
}

.commentDate{
    font-family: "YanoneKaffeesatz-Regular";
    font-size: 16px;
    position: relative;
    text-align: left;
}

.oneCommentBox{
    position: relative;
    margin-bottom: 50px;
}

.activityStack{
    position: relative;
    right: 200px;
    top: -7px;
}

.commentsName{
    font-family: "YanoneKaffeesatz-Regular";
    position: relative;
    left: 200px;
    top: -25px;
}






