.App {
  height: 100vh;
}



@font-face {
  font-family: "YanoneKaffeesatz-Regular";
  src: url("../src/fonts/YanoneKaffeesatz-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}